![Hand with calculator](calculator.jpg)

Did you know that the average return from investing in stocks is [10% per year](https://www.nerdwallet.com/article/investing/average-stock-market-return) (not accounting for inflation)? But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

## dates
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `date_joined` | The date that the company became a unicorn.  |
| `year_founded` | The year that the company was founded.       |

## funding
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| `company_id`       | A unique ID for the company.                 |
| `valuation`        | Company value in US dollars.                 |
| `funding`          | The amount of funding raised in US dollars.  |
| `select_investors` | A list of key investors in the company.      |

## industries
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| `company_id`   | A unique ID for the company.                 |
| `industry`     | The industry that the company operates in.   |

## companies
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| `company_id`   | A unique ID for the company.                      |
| `company`      | The name of the company.                          |
| `city`         | The city where the company is headquartered.      |
| `country`      | The country where the company is headquartered.   |
| `continent`    | The continent where the company is headquartered. |

# The output

Your query should return a table in the following format:
| industry  | year | num\_unicorns       | average\_valuation\_billions |
| --------- | ---- | ------------------- | ---------------------------- |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |
| industry1 | 2021 |        ---          |             ---              |
| industry2 | 2020 |        ---          |             ---              |
| industry3 | 2019 |        ---          |             ---              |

Where `industry1`, `industry2`, and `industry3` are the three top-performing industries.

In [11]:
SELECT column_name, data_type
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'dates';

    column_name data_type
0    company_id   integer
1   date_joined      date
2  year_founded   integer

In [12]:
SELECT *
FROM dates 
LIMIT 10;

   company_id               date_joined  year_founded
0         189 2017-06-24 00:00:00+00:00          1919
1         848 2021-06-01 00:00:00+00:00          2019
2         556 2022-02-15 00:00:00+00:00          2011
3         999 2021-11-17 00:00:00+00:00          2020
4         396 2021-10-21 00:00:00+00:00          2021
5         931 2021-09-24 00:00:00+00:00          2020
6         364 2019-02-01 00:00:00+00:00          2015
7         732 2022-01-27 00:00:00+00:00          2017
8         906 2021-06-10 00:00:00+00:00          2017
9          72 2015-01-23 00:00:00+00:00          2006

In [13]:
-- Three best performing industries
SELECT industry
FROM industries 
JOIN dates 
USING(company_id)
WHERE year_founded IN (2019, 2020, 2021)
GROUP BY industry
ORDER BY COUNT(*) DESC
LIMIT 3;

                          industry
0                          Fintech
1     Internet software & services
2  E-commerce & direct-to-consumer

In [14]:
/*
WITH cte AS (
SELECT industry, EXTRACT(YEAR FROM date_joined) AS year, COUNT(*) OVER(PARTITION BY industry) AS num_unicorns,
	   
FROM industries 
JOIN dates USING(company_id)
JOIN funding USING(company_id)
WHERE year_founded IN (2019, 2020, 2021)
	AND industry IN (
	SELECT industry
	FROM industries 
	JOIN dates 
	USING(company_id)
	WHERE year_founded IN (2019, 2020, 2021)
	GROUP BY industry
	ORDER BY COUNT(*) DESC
	LIMIT 3
) 
GROUP BY industry, year
ORDER BY year DESC, num_unicorns DESC)

SELECT *
FROM cte; 
*/

WITH top_industries AS
(
    SELECT i.industry, 
        COUNT(i.*)
    FROM industries AS i
    INNER JOIN dates AS d
        ON i.company_id = d.company_id
    WHERE EXTRACT(year FROM d.date_joined) in ('2019', '2020', '2021')
    GROUP BY industry
    ORDER BY count DESC
    LIMIT 3
),

yearly_rankings AS 
(
    SELECT COUNT(i.*) AS num_unicorns,
        i.industry,
        EXTRACT(year FROM d.date_joined) AS year,
        AVG(f.valuation) AS average_valuation
    FROM industries AS i
    INNER JOIN dates AS d
        ON i.company_id = d.company_id
    INNER JOIN funding AS f
        ON d.company_id = f.company_id
    GROUP BY industry, year
)

SELECT industry,
    year,
    num_unicorns,
    ROUND(AVG(average_valuation / 1000000000), 2) AS average_valuation_billions
FROM yearly_rankings
WHERE year in ('2019', '2020', '2021')
    AND industry in (SELECT industry
                    FROM top_industries)
GROUP BY industry, num_unicorns, year
ORDER BY year DESC, num_unicorns DESC

                          industry  ...  average_valuation_billions
0                          Fintech  ...                        2.75
1     Internet software & services  ...                        2.15
2  E-commerce & direct-to-consumer  ...                        2.47
3     Internet software & services  ...                        4.35
4  E-commerce & direct-to-consumer  ...                        4.00
5                          Fintech  ...                        4.33
6                          Fintech  ...                        6.80
7     Internet software & services  ...                        4.23
8  E-commerce & direct-to-consumer  ...                        2.58

[9 rows x 4 columns]