# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('house_sales.csv')
df.head()

   house_id        city  sale_price  ... bedrooms     house_type         area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8 sq.m.
1   1900913  Silvertown      384677  ...        5       Detached  498.8 sq.m.
2   1174927   Riverford      281707  ...        6       Detached  542.5 sq.m.
3   1773666  Silvertown      373251  ...        6           Det.  528.4 sq.m.
4   1258487  Silvertown      328885  ...        5       Detached  477.1 sq.m.

[5 rows x 8 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1469 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB

In [26]:
print(df['city'].unique(),
      df['bedrooms'].unique(), 
      df['house_type'].unique())

['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' '--'] [2 5 6 4 3] ['Semi-detached' 'Detached' 'Det.' 'Terraced' 'Semi' 'Terr.']

In [27]:
house_dict = {'Det.': 'Detached', 'Terr.': 'Terraced', 'Semi': 'Semi-detached'}
df['house_type'] = df['house_type'].replace(house_dict)
df['city'] = df['city'].replace('--', 'Unknown')

In [28]:
print(df['city'].unique(),
      df['bedrooms'].unique(), 
      df['house_type'].unique())
print(df['city'].value_counts())

['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' 'Unknown'] [2 5 6 4 3] ['Semi-detached' 'Detached' 'Terraced']
Silvertown    517
Teasdale      366
Poppleton     362
Riverford     182
Unknown        73
Name: city, dtype: int64

In [29]:
# Use this cell to write your code for Task 1
missing_city = 73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [30]:
df = pd.read_csv("house_sales.csv")

df['city'].replace('--', 'Unknown', inplace=True)
df.dropna(subset=['sale_price'], inplace=True)
df = df[df['sale_price'] > 0]
df['sale_date'].fillna("2023-01-01", inplace=True)
mean_months_listed = df['months_listed'].mean()
df['months_listed'].fillna(mean_months_listed, inplace=True)
df['months_listed'] = df['months_listed'].round(1)
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'].fillna(round(mean_bedrooms), inplace=True)
df['house_type'].replace({'Det.': 'Detached', 'Semi': 'Semi-detached', 'Terr.': 'Terraced'}, inplace=True)
house_type = df['house_type'].mode()[0]
df['house_type'].fillna(house_type, inplace=True)
df['house_type'] = df['house_type'].astype('category')
df['house_type'].cat.set_categories(["Terraced", "Semi-detached", "Detached"], ordered=True)
df['area'] = df['area'].str.extract(r'(\d+\.\d+)').astype(float)

clean_data = df.copy()

In [31]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   category
 7   area           1500 non-null   float64
dtypes: category(1), float64(2), int64(3), object(2)
memory usage: 95.3+ KB

In [32]:
clean_data['house_type'].value_counts()

Detached         1124
Semi-detached     245
Terraced          131
Name: house_type, dtype: int64

In [33]:
clean_data['house_type'].unique()

['Semi-detached', 'Detached', 'Terraced']
Categories (3, object): ['Detached', 'Semi-detached', 'Terraced']

In [34]:
clean_data['house_type'].isna().sum()

0

In [35]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   category
 7   area           1500 non-null   float64
dtypes: category(1), float64(2), int64(3), object(2)
memory usage: 95.3+ KB

In [36]:
# Use this cell to write your code for Task 2
clean_data.head()

   house_id        city  sale_price  ... bedrooms     house_type   area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8
1   1900913  Silvertown      384677  ...        5       Detached  498.8
2   1174927   Riverford      281707  ...        6       Detached  542.5
3   1773666  Silvertown      373251  ...        6       Detached  528.4
4   1258487  Silvertown      328885  ...        5       Detached  477.1

[5 rows x 8 columns]

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [37]:
# Use this cell to write your code for Task 3
price_by_rooms = clean_data.groupby('bedrooms').agg({'sale_price': ['mean', 'var']}).reset_index().round(decimals=1)
price_by_rooms.columns = ['bedrooms', 'avg_price', 'var_price']
price_by_rooms

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [38]:
train = pd.read_csv('train.csv')

In [39]:
train.head()

   house_id        city  sale_price  ... bedrooms  house_type   area
0   1634561    Teasdale      401869  ...        6    Detached  519.7
1   1009770  Silvertown      372387  ...        6    Detached  507.8
2   1946667  Silvertown      325473  ...        5    Detached  466.8
3   1798290  Silvertown      349469  ...        5    Detached  499.4
4   1533461   Poppleton      199995  ...        4    Detached  335.0

[5 rows x 8 columns]

In [40]:
train = train.drop(['house_id', 'sale_date'], axis=1)
train = pd.get_dummies(train)

In [41]:
X_train = train.drop('sale_price', axis=1)
y_train = train['sale_price']
X_train['months_listed'] = np.log(X_train['months_listed'])
X_train['bedrooms'] = np.log(X_train['bedrooms'])
X_train['area'] = np.log(X_train['area'])
X_train.var()

months_listed               0.187205
bedrooms                    0.150723
area                        0.223323
city_Poppleton              0.187656
city_Riverford              0.108840
city_Silvertown             0.233294
city_Teasdale               0.190541
house_type_Detached         0.195719
house_type_Semi-detached    0.143408
house_type_Terraced         0.084693
dtype: float64

In [42]:
val = pd.read_csv('validation.csv')

In [43]:
val_copy = val.copy()
val = val.drop(['house_id', 'sale_date'], axis=1)
val = pd.get_dummies(val)

In [44]:
print(X_train.shape, y_train.shape, val.shape)

(1200, 10) (1200,) (300, 10)

In [45]:
val['months_listed'] = np.log(val['months_listed'])
val['bedrooms'] = np.log(val['bedrooms'])
val['area'] = np.log(val['area'])
val.var()

months_listed               0.208156
bedrooms                    0.149488
area                        0.212870
city_Poppleton              0.183010
city_Riverford              0.120803
city_Silvertown             0.234738
city_Teasdale               0.186444
house_type_Detached         0.186444
house_type_Semi-detached    0.141572
house_type_Terraced         0.071026
dtype: float64

In [46]:
X_train = X_train.values
y_train = train['sale_price'].values

In [47]:
val = val.values

In [48]:
# Use this cell to write your code for Task 4
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import RandomizedSearchCV

lr = LinearRegression()
lr_fitted = lr.fit(X_train, y_train)
lr_predict = lr_fitted.predict(val)
base_result = pd.DataFrame({'house_id': val_copy['house_id'], 'price': lr_predict})

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [49]:
# Use this cell to write your code for Task 5
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor()
params = {'learning_rate': [0.001, 0.01, 0.1, 1],
          'max_depth': np.arange(2, 15),
          'n_estimators': np.arange(10, 150)}
gscv = RandomizedSearchCV(gbr, param_distributions=params, cv=5, n_jobs=-1)
gscv_fitted = gscv.fit(X_train, y_train)
best_model = gscv.best_estimator_
gbr_fitted = best_model.fit(X_train, y_train)
gbr_predict = gbr_fitted.predict(val)
compare_result = pd.DataFrame({'house_id': val_copy['house_id'], 'price': gbr_predict})